body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  position: absolute;
  bottom: 60px;
  right: 260px;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
}

#crystal-background-video {
  position: absolute;
  clip-path: circle(10.7% at 50% 50%); /* Creates a circular mask */
  filter: brightness(150%);
  filter: contrast(150%);
}

h1 {
  margin-top: 40px;
  font-family: cursive;
  letter-spacing: 2px;
  color: rgb(5, 0, 64);
}

.images-container {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.smiling-astrologer {
  position: absolute;
  top: 2%;
  z-index: 2;
  height: 80%;
  opacity: 75%;
}

.crystal-ball {
  z-index: 1;
  width: 47%;
  height: 47%;
  opacity: 50%;
}

.answer-text {
  margin: 20px;
}

.call-to-action-text {
  font-size: 25px;
  font-family: cursive;
  letter-spacing: 3px;
  color: rgb(5, 0, 64);
}

.answer-button {
  padding: 15px 50px;
  border-radius: 25px;
}
.answer-button:hover {
  background-color: rgb(255, 213, 0);
}

.answer-container {
  position: absolute;
  bottom: 230px;
  right: 535px;
  width: 350px;
  height: 350px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: solid 4px rgba(128, 128, 128, 0.554);
  border-radius: 50%;
  animation: fadeIn 2s ease-out forwards;
}

.answer {
  position: absolute;
  padding: 16px 96px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-shadow: 2px 2px 4px #000000;
  animation: fadeIn 5s ease-out forwards;
}

.tilting {
  animation: tilt 1s 3; /* Adjust time as needed */
}

.fadeout {
  animation: fadeOut 0.2s ease-out;
}

@keyframes tilt {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg); /* Tilts to the left */
  }
  75% {
    transform: rotate(5deg); /* Tilts to the right */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
