body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  position: absolute;
  bottom: 23%;
  right: 50%;
  width: 100vw; /* Adjust to the width you need */
  height: 100vh; /* Adjust to the height you need */
  overflow: hidden; /* Hide everything outside the clip-path */
  display: flex;
  justify-content: center; /* Center the video horizontally */
  align-items: center; /* Center the video vertically */
  z-index: -100;
  transform: translate(50%, 10%);
}

#crystal-background-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  clip-path: circle(10% at 50% 50%); /* Creates a circular mask */
  filter: brightness(150%);
  filter: contrast(150%);
}

h1 {
  margin-top: 40px;
  font-family: cursive;
  letter-spacing: 2px;
  color: rgb(5, 0, 64);
}

.images-container {
  position: relative; /* Allows absolute positioning within this container */
  display: inline-flex; /* Keeps images inline and centered */
  flex-direction: column;
  align-items: center;
}

.smiling-astrologer {
  position: absolute; /* Allows precise positioning */
  top: 2%;
  z-index: 2; /* Ensures it appears above the crystal ball */
  height: 80%;
  opacity: 75%;
}

.crystal-ball {
  z-index: 1;
  width: 47%;
  height: 47%;
  opacity: 50%;
}

.answer-text {
  margin: 20px;
}

.call-to-action-text {
  font-size: 25px;
  font-family: cursive;
  letter-spacing: 3px;
  color: rgb(5, 0, 64);
}

.answer-button {
  padding: 15px 50px;
  border-radius: 25px;
}
.answer-button:hover {
  background-color: rgb(255, 213, 0);
}

@keyframes tilt {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg); /* Tilts to the left */
  }
  75% {
    transform: rotate(5deg); /* Tilts to the right */
  }
}

.smiling-astrologer {
  transition: transform 0.1s; /* Smooth transition */
}

.tilting {
  animation: tilt 1s 3; /* Adjust time as needed */
}
